<!DOCTYPE html>
<html lang="{{metadata.lang}}">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{metadata.lang}}</title>
    </head>
    <body>
        <h1>{{ title }}</h1>
        {{ content | safe }}
    </body>
</html>
