---
title: Test of components in subfolder
---
{%- extends "layouts/base.njk" -%}
{% block content %}
{{ macro.h({
  level: 2,
  text: "What a great headline"
}) }}

{{ macro.button({
  primary: 'Hello'
}) }}

{{ macro.h({
  level: 2,
  text: "What a great headline",
  link: "#"
}) }}

{{ macro.button({
  primary: 'Hello',
  secondary: 'World'
}) }}
{% endblock %}
