---
layout: layouts/base.njk
title: Test of components
permalink: index2.html
---
{%- from "components/button/macro.njk" import button -%}

{{ button({
  primary: 'Hi'
}) }}

{{ button({
  primary: 'Hi',
  secondary: 'there'
}) }}
